.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    height: 100%;
    min-height: calc(100vh - 120px - 64px);
}

.functionality {
    height: 40px;
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 2%;
    background-image: url(./img/whiteFan.jpg), url(./img/blackFan.jpg);
    background-position: 10% 50%, 90% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.functionality__btn {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    cursor: pointer;
}

.functionality__btn::before,
.functionality__btn::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fd1100;
    display: block;
    transition: 0.5s;
    position: absolute;
}

.functionality__btn::before {
    left: 0;
    bottom: 0;
}

.functionality__btn::after {
    right: 0;
    top: 0;
}

.functionality__btn:hover::after,
.functionality__btn:hover::before,
input[type="radio"]:checked+.functionality__btn::after,
input[type="radio"]:checked+.functionality__btn::before {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

.section {
    display: none;
    width: 100%;
    font-size: 15px;
}

.layout {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .layout {
        flex-direction: row;
    }
}

.layout__input {
    flex: 1;
    background-image: url(./img/bg_input.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 5%;
    min-height: calc(100vh - 120px - 64px - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-title {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

select {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.btnResult {
    width: 200px;
    height: 40px;
    align-self: center;
    background-image: url(./img/btnResult.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.layout__result {
    flex: 1.5;
    background-image: url(./img/bg_result.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5%;
    min-height: calc(100vh - 120px - 64px - 60px);
    font-size: 16px;
    line-height: 1.4;
}

.koi-image {
    width: 100%;
}

.section.active {
    display: block;
}

.input-group {
    display: flex;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin: auto 10px auto 0;
}

.result {
    margin-top: 20px;
}

.koi-info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}